# Java build artifacts
target/
dependency-reduced-pom.xml
.mvn

# Native image build artifacts
/polyglot/cli/sources

# Python cache directory
__pycache__

# Test outputs
out

# Ada/C compiling results
lib
obj
bin
